@using Auction.Common.Constant.Messages
@model IEnumerable<Auction.WebSite.Models.AuctionTemplateViewModel>
@{
    ViewBag.Title = "ActiveAuctions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>@Messages.MessagesConstant.ActiveAuctions</h2>


<form method="get">
    <div class="form-inline">
        <label class="control-label"><h8>@Messages.MessagesConstant.FilterBy.Format(@Html.DisplayNameFor(model => model.Name))</h8></label>
        @Html.TextBox("filterByName")
        <input type="submit" value=@Messages.MessagesConstant.Filter class="btn btn-success" />
    </div>
</form>
<div id="dvActiveAuctionsResults">
    @{Html.RenderPartial("ActiveAuctionsResults", Model);}
</div>
<script>
    setInterval(
        function ()
        {
    var filterByName = $("#filterByName").val();
    $("#dvActiveAuctionsResults").load('@(Url.Action("ActiveAuctions","Auctions",null, Request.Url.Scheme))?filterByName=' + filterByName)}, 30000)
</script>

